<!DOCTYPE html>
<html>
<head>
    <title>Grocery Assistant</title>
</head>
<body>
    <form id="loginbox">
        <label>Username</label>
        <input class="input" type="text" placeholder="Username" #userName required>
        <br>
        <label>Password</label>
        <input class="input" type="password" placeholder="Password" #userPassword required>
        <br>
        <input type="checkbox" id="volunteer">
        <label for="volunteer">Volunteer</label><br>
        <button type="button"(click)="authService.SignIn(userName.value, userPassword.value)" id="login">Login</button>
        <button type="button" (click)="authService.SignUp(userName.value, userPassword.value)" id="register">Register</button>
        
    </form>
</body>
</html>



